@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap')

body {
    min-height: 100vh;
    background-color: #000000;
    font-family: Inconsolata, sans-serif;
    font-size: 14px;
    color: #ffffff;
}
h1{
    font-size: 100px;
    line-height: 115%;

}