
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: darkslategrey;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: forestgreen;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: lightgreen;
    background-color: transparent;
    text-decoration: underline;
}



body {
    background-color: #111111;
}

h1 {
    font-family: Inconsolata;
    font-weight: 400;
    color: #ffffff;
}
h2 {
    font-family: Inconsolata;
    font-weight: 400;
    
    color: #ffffff;
    
}
h5 {
    font-family: Inconsolata;
    font-weight: 400;
    color: #ffffff;
}
h3 {
    color: white;
    font-family: Inconsolata;
    font-weight: 900;
}

a:link{
    color: white;
}

img{
    width: 64vh;
    
}