
a {
    color: green;
    background-color: transparent;
    text-decoration: wavy;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: wavy;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

body {
    background-color: #111111;
}

h1 {
    font-family: Inconsolata;
    font-weight: 400;
    color: #ffffff;
}

h2 {
    font-family: Inconsolata;
    font-weight: 400;
    
    color: #ffffff;
    
    margin-top: 7px;
    
}
.title h1{
    line-height: 30px;
    font-weight: 500;
    /*background: linear-gradient(
      to right,
      #81bb91,
      #91ba93,
      #68a578,
      #b1d2ba,
      #8bbc99
    );*/
    background: linear-gradient(to right, #ffffff, #737373, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: bg 2s infinite linear;
}

@keyframes bg {
    from {
        background-position: 200% center;
    }
    to {
        background-position: 0% center;
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
.title img {
    float: center;
    height: 20px;
    width: 50px;
}
h4 {
    font-family: Inconsolata;
    font-weight: 400;
    color: #000000;
}
h5 {
    font-family: Inconsolata;
    font-weight: 400;
    color: #ffffff;
}
h3 {
    color: white;
    font-family: Inconsolata;
    font-weight: 600;
    color: #737373;
    margin-top: 6px;
    margin-bottom: -3px;
    /*animation: scroll 20s infinite linear;*/
}

a:link{
    color: white;
}

img{
    width: 100%;
    max-width: 64vh;
}

.socials a img {
    float: left;
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.socials {
    margin-top: -7px;
}

.e {
    font-style: italic;
}