
a {
    color: green;
    background-color: transparent;
    text-decoration: wavy;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: wavy;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

body {
    background-color: #111111;
}

h1 {
    font-family: Inconsolata;
    font-weight: 400;
    color: #ffffff;
}

h2 {
    font-family: Inconsolata;
    font-weight: 400;
    
    color: #ffffff;
    
    margin-top: 7px;
    
}
.title h1{
    line-height: 30px;
    font-weight: 500;
    /*background: linear-gradient(
      to right,
      #81bb91,
      #91ba93,
      #68a578,
      #b1d2ba,
      #8bbc99
    );*/
    background: linear-gradient(to right, #ffffff, #737373, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: bg 2s infinite linear;
}

@keyframes bg {
    from {
        background-position: 200% center;
    }
    to {
        background-position: 0% center;
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
.title img {
    float: center;
    height: 20px;
    width: 50px;
}
h4 {
    font-family: Inconsolata;
    font-weight: 400;
    color: #000000;
}
h5 {
    font-family: Inconsolata;
    font-weight: 400;
    color: #ffffff;
}
h3 {
    font-family: Inconsolata;
    font-weight: 600;
    color: #737373;
    margin-top: 6px;
    margin-bottom: -3px;
    /*animation: scroll 20s infinite linear;*/
}

@media only screen and (max-width: 437px) { 
    #quote { 
      display: none;
    } 
    #quote2 {
        display: contents;
    }
}

@media only screen and (max-width: 225px) { 
    #quote { 
      display: none;
    } 
    #quote2 {
        display: none;
    }
}

.e2 {
    display: none;
}

a:link{
    color: white;
}

img{
    width: 100%;
    max-width: 64vh;
}

.socials a img {
    float: left;
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.socials {
    margin-top: -7px;
}

.e {
    font-style: italic;
}
.e2 {
    font-style: italic;
}

#toggle {
    display: none;
}

#toggle:checked + #about{
    display: block;
}

#about {
    display: none;
}
h2 label:hover{
    cursor: pointer;
    text-decoration: underline;
}
#togglel:checked ~ .projects {
    display: block;
}
#togglel {
    display: none;
}
#togglel:checked ~ .socials {
    margin-top: 16px;
}

.projects {
    display: none;
    margin-left: 17px;
}
.about #about {
    margin-left: 17px;
}

.projects a {
    color: green;
    background-color: transparent;
    text-decoration: wavy;
}

.projects .motion img {
    margin-top: 30px;
}
.projects .whopper img {
    margin-top: 4px;
}

.projects a:visited {
    color: #999999;
    background-color: transparent;
    text-decoration: wavy;
}

.projects a:hover {
    color: #999999;
    background-color: transparent;
    text-decoration: underline;
}

.projects a:active {
    color: #999999;
    text-decoration: underline;
}

.projects h1 {
    font-family: Inconsolata;
    font-weight: 400;
    color: #ffffff;
    margin-top: 3px;
}

.projects h2 {
    font-family: Inconsolata;
    font-weight: 400;
    color: #b0b0b0;
    margin-top: -10px;
}
.projects h3 {
    font-family: Inconsolata;
    font-weight: 400;
    color: #737373;
    margin-top: -17px;
    /*margin-left: 2px;*/
}
.projects h4 {
    font-family: Inconsolata;
    font-weight: 400;
    color: #000000;
}
.projects h5 {
    font-family: Inconsolata;
    font-weight: 400;
    color: #ffffff;
}

.projects a:link{
    color: #999999;
}
.projects img{
    height: 75%;
    max-height: 32vh;
    width: 100%;
    max-width: 23vh;
}
.projects .whopper .titlew img {
    height: 25px;
    width: 25px;
}
.projects .motion .titlem img {
    height: 25px;
    width: 25px;
    display: inline-block;
}
